---
import type { GetStaticPaths } from 'astro'
import Layout from '~/layouts/Layout.astro'
import { getSortedPosts } from '~/utils'
import Pagination from '~/components/Pagination.astro'
import siteConfig from '~/site.config'
import PostPreview from '~/components/PostPreview.astro'
import PageHeader from '~/components/PageHeader.astro'

// Note: Pagination like '/', '/2', '/3' only works with spread param like [...page]
export const getStaticPaths = (async ({ paginate }) => {
  const sortedPosts = await getSortedPosts()
  return paginate(sortedPosts.reverse(), { pageSize: siteConfig.pageSize })
}) satisfies GetStaticPaths

const { page } = Astro.props
const pageTitle = 'Archive' + (page.currentPage > 1 ? ` - Page ${page.currentPage}` : '')
---

<Layout title={pageTitle} description="All posts in the archive">
  <div class="mt-2 sm:mt-0">
    <PageHeader />
    {page.data.map((post) => <PostPreview post={post} />)}
    <Pagination
      prevLink={page.url.prev ? page.url.prev : undefined}
      prevText="Newer Posts"
      nextLink={page.url.next ? page.url.next : undefined}
      nextText="Older Posts"
    />
  </div>
</Layout>
