@import 'tailwindcss';

/* https://fontsource.org/fonts/jetbrains-mono/install */
/* jetbrains-mono-latin-wght-normal */
@font-face {
  font-family: 'JetBrains Mono Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 100 800;
  src: url(@fontsource-variable/jetbrains-mono/files/jetbrains-mono-latin-wght-normal.woff2)
    format('woff2-variations');
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308,
    U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@theme {
  --color-accent: var(--theme-accent);
  --color-foreground: var(--theme-foreground);
  --color-background: var(--theme-background);
  --color-heading1: var(--theme-heading1);
  --color-heading2: var(--theme-heading2);
  --color-heading3: var(--theme-heading3);
  --color-heading4: var(--theme-heading4);
  --color-heading5: var(--theme-heading5);
  --color-heading6: var(--theme-heading6);
  --color-list: var(--theme-list);
  --color-link: var(--theme-link);
  --color-separator: var(--theme-separator);
  --color-note: var(--theme-note);
  --color-tip: var(--theme-tip);
  --color-important: var(--theme-important);
  --color-caution: var(--theme-caution);
  --color-warning: var(--theme-warning);
  --color-blue: var(--theme-blue);
  --color-green: var(--theme-green);
  --color-red: var(--theme-red);
  --color-yellow: var(--theme-yellow);
  --color-magenta: var(--theme-magenta);
  --color-cyan: var(--theme-cyan);
  --default-font-family: var(--theme-font), monospace;
}

header {
  view-transition-name: none;
}

@view-transition {
  navigation: auto;
}

* {
  /* Custom scrollbar styles */
  scrollbar-width: thin;
  scrollbar-color: color-mix(in oklab, var(--theme-accent) 20%, transparent) transparent;
}

html {
  /* Slightly more accented scrollbar for better visibility */
  scrollbar-color: color-mix(in oklab, var(--theme-accent) 30%, transparent) transparent !important;
  /* Prevents layout from jumping when opening theme select or search dialog menus */
  scrollbar-gutter: stable;
  scroll-behavior: smooth;
}

body {
  @apply transition-colors;
  font-display: block;
  font-size-adjust: ex-height 0.53;
}

/* hide katex-html */
.katex-html {
  @apply hidden;
}

input:focus-visible,
textarea:focus-visible,
select:focus-visible,
button:focus-visible,
a:focus-visible,
input:active,
textarea:active,
select:active,
button:active {
  @apply outline-1 outline-accent outline-offset-2;
}

a,
button {
  @apply hover:cursor-pointer;
}

a.button {
  @apply inline-flex text-accent border-3 border-accent/30 border-double py-1.5 px-3 whitespace-nowrap hover:bg-accent/8 rounded-xl transition-colors;
}

header button,
header input {
  @apply !outline-none;
}

button {
  @apply cursor-pointer;
}

article img {
  @apply block max-w-full border-8 border-foreground/10 rounded-xl overflow-hidden mx-auto;

  &[pixelated='true'] {
    image-rendering: pixelated;
  }
}

.prose {
  @apply text-base/7;

  code:not(.expressive-code code) {
    @apply text-sm font-mono text-foreground/90 bg-foreground/5 px-2.5 py-1 rounded-lg whitespace-nowrap;
  }

  & > *:not(div.expressive-code, img, figure, video, hr, blockquote, aside),
  figcaption {
    @apply md:mx-2;
  }

  div.expressive-code {
    @apply my-8;

    /* Prevent italics in code blocks */
    /* Feel free to remove this if you want italics */
    div.code span {
      font-style: normal !important;
    }

    div.copy button {
      @apply hidden sm:flex;
      --code-background: var(--theme-background);
    }

    figure {
      @apply border-2 border-foreground/8 !rounded-xl;
      box-shadow: none !important;

      &.has-title.is-terminal {
        span.title {
          @apply !px-15;
        }
        --button-spacing: 30px !important;
      }

      figcaption {
        border-radius: 10px 10px 0 0 !important;
        background: transparent !important;
        padding-block: 0 !important;
        border: none !important;

        &::after,
        &::before {
          border: none !important;
        }

        span.title {
          @apply !text-foreground/90 !bg-foreground/8 text-center !border-b-2 !border-t-0 !border-r-0 !border-l-0 !border-foreground/10;
          width: 100%;
          font-family: var(--theme-font);
          font-size: var(--ec-codeFontSize);
          border-radius: 10px 10px 0 0 !important;
          border-bottom-width: 0 !important;
          padding: 0 12px !important;

          &::after,
          &::before {
            border: none !important;
          }
        }
      }

      & > pre {
        border-radius: 10px !important;
        border: none !important;
        scrollbar-width: thin;
        background: transparent !important;
      }
    }
  }

  blockquote,
  aside {
    div.expressive-code {
      @apply my-3;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply flex items-center my-6.5 font-semibold;

    span[role='img'] {
      @apply mx-2.5;
    }

    .heading-anchor {
      @apply opacity-0 inline-block text-accent/10 ml-3 transition-opacity;
    }

    &::before {
      @apply self-start;
    }

    &:hover .heading-anchor {
      @apply !opacity-80;
    }
  }

  h1 {
    @apply text-[1.75rem] text-heading1 mt-8;

    &::before {
      @apply mr-2 content-['#'];
    }

    .heading-anchor svg {
      @apply size-5.5;
    }
  }

  h2 {
    @apply text-[1.6rem] text-heading2 mt-12;

    &::before {
      @apply mr-2 content-['##'];
    }

    .heading-anchor svg {
      @apply size-5.5;
    }
  }

  h3 {
    @apply text-2xl text-heading3 mt-10;

    &::before {
      @apply mr-2 content-['###'];
    }

    .heading-anchor svg {
      @apply size-5;
    }
  }

  h4 {
    @apply text-2xl text-heading4 mt-8;

    &::before {
      @apply mr-2 content-['####'];
    }

    .heading-anchor svg {
      @apply size-5;
    }
  }

  h5 {
    @apply text-lg text-heading5;

    &::before {
      @apply mr-2 content-['#####'];
    }

    .heading-anchor svg {
      @apply size-4.5;
    }
  }

  h6 {
    @apply text-lg text-heading6;

    &::before {
      @apply mr-2 content-['######'];
    }

    .heading-anchor svg {
      @apply size-4.5;
    }
  }

  p,
  ul,
  ol,
  img,
  figure,
  video,
  table,
  blockquote,
  aside,
  .github-card {
    @apply my-6.5;
  }

  b,
  strong,
  th,
  button {
    @apply font-semibold;
  }

  a {
    @apply text-link underline hover:underline;

    &.heading-anchor {
      text-decoration: none;
      color: inherit;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  button {
    @apply font-bold text-center text-accent py-1 px-4.5 border-4 border-accent rounded-xl cursor-pointer hover:bg-accent/15 transition-colors;
  }

  figure:not(.expressive-code figure) {
    @apply block mx-auto rounded-xl py-2;

    figcaption {
      @apply text-center italic;
    }
  }

  ul,
  ol {
    @apply pl-8 sm:pl-9.5;
  }

  li {
    @apply pl-2 my-4 marker:text-list;
  }

  ul li {
    list-style-type: "-";
  }

  ol li {
    @apply list-decimal;
  }

  hr {
    @apply h-0.5 my-16 bg-separator border-none rounded-xl;
  }

  blockquote,
  aside {
    @apply px-7 md:px-6 rounded-xl py-6;

    & > *:not(div.expressive-code, img, figure, video, hr),
    figcaption {
      @apply md:mx-2;
    }

    p:first-child {
      @apply mt-0;
    }

    p:last-child {
      @apply mb-0;
    }
  }

  blockquote {
    @apply relative bg-foreground/5 before:content-['>'] before:block before:absolute before:text-accent before:font-bold before:left-3;
  }

  aside {
    @apply bg-foreground/7;

    &.character-dialogue {
      @apply sm:bg-transparent flex sm:items-start items-center justify-center gap-3 sm:flex-row px-2 md:px-5;

      & + aside.character-dialogue {
        @apply sm:pt-1 -mt-2 sm:-mt-7;

        &:nth-of-type(even) {
          @apply flex-row-reverse;

          .character-dialogue-content:after {
            @apply -right-3 -rotate-90;
            left: initial;
          }
        }
      }

      img.character-dialogue-image {
        @apply m-0 border-none shrink-1 w-20 sm:w-25;
      }

      .character-dialogue-content {
        @apply relative shrink-5 sm:bg-foreground/6 px-1 mx-1.5 sm:px-6 rounded-xl sm:py-6 max-w-full sm:min-w-1/8;

        /* Add pointy part of speech bubble to the bottom left corner */
        &:after {
          @apply hidden sm:block absolute top-8 -left-3 rotate-90 w-0 h-0 border-l-8 border-r-8 border-t-8 border-l-transparent border-r-transparent border-t-foreground/6;
          content: '';
        }
      }
    }

    p.admonition-title {
      @apply mb-2 inline-block font-semibold relative ml-6.5 md:ml-8.5;

      &:before {
        @apply size-4 bg-blue -left-6 top-1.5 absolute;
        content: '';
        mask-size: contain;
        mask-position: center;
        mask-repeat: no-repeat;
      }
    }

    p:not(.admonition-title):first-child {
      @apply mt-0;
    }

    &[data-admonition-type='note'] {
      @apply bg-note/7;

      p.admonition-title {
        @apply text-note;
      }

      p.admonition-title:before {
        @apply bg-note;
        mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' width='16' height='16' aria-hidden='true'%3E%3Cpath d='M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8Zm8-6.5a6.5 6.5 0 1 0 0 13 6.5 6.5 0 0 0 0-13ZM6.5 7.75A.75.75 0 0 1 7.25 7h1a.75.75 0 0 1 .75.75v2.75h.25a.75.75 0 0 1 0 1.5h-2a.75.75 0 0 1 0-1.5h.25v-2h-.25a.75.75 0 0 1-.75-.75ZM8 6a1 1 0 1 1 0-2 1 1 0 0 1 0 2Z'%3E%3C/path%3E%3C/svg%3E");
      }
    }

    &[data-admonition-type='tip'] {
      @apply bg-tip/7;

      p.admonition-title {
        @apply text-tip;
      }

      p.admonition-title:before {
        @apply bg-tip;
        mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' width='16' height='16' aria-hidden='true'%3E%3Cpath d='M8 1.5c-2.363 0-4 1.69-4 3.75 0 .984.424 1.625.984 2.304l.214.253c.223.264.47.556.673.848.284.411.537.896.621 1.49a.75.75 0 0 1-1.484.211c-.04-.282-.163-.547-.37-.847a8.456 8.456 0 0 0-.542-.68c-.084-.1-.173-.205-.268-.32C3.201 7.75 2.5 6.766 2.5 5.25 2.5 2.31 4.863 0 8 0s5.5 2.31 5.5 5.25c0 1.516-.701 2.5-1.328 3.259-.095.115-.184.22-.268.319-.207.245-.383.453-.541.681-.208.3-.33.565-.37.847a.751.751 0 0 1-1.485-.212c.084-.593.337-1.078.621-1.489.203-.292.45-.584.673-.848.075-.088.147-.173.213-.253.561-.679.985-1.32.985-2.304 0-2.06-1.637-3.75-4-3.75ZM5.75 12h4.5a.75.75 0 0 1 0 1.5h-4.5a.75.75 0 0 1 0-1.5ZM6 15.25a.75.75 0 0 1 .75-.75h2.5a.75.75 0 0 1 0 1.5h-2.5a.75.75 0 0 1-.75-.75Z'%3E%3C/path%3E%3C/svg%3E");
      }
    }

    &[data-admonition-type='important'] {
      @apply bg-important/7;

      p.admonition-title {
        @apply text-important;
      }

      p.admonition-title:before {
        @apply bg-important;
        mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' width='16' height='16' aria-hidden='true'%3E%3Cpath d='M0 1.75C0 .784.784 0 1.75 0h12.5C15.216 0 16 .784 16 1.75v9.5A1.75 1.75 0 0 1 14.25 13H8.06l-2.573 2.573A1.458 1.458 0 0 1 3 14.543V13H1.75A1.75 1.75 0 0 1 0 11.25Zm1.75-.25a.25.25 0 0 0-.25.25v9.5c0 .138.112.25.25.25h2a.75.75 0 0 1 .75.75v2.19l2.72-2.72a.749.749 0 0 1 .53-.22h6.5a.25.25 0 0 0 .25-.25v-9.5a.25.25 0 0 0-.25-.25Zm7 2.25v2.5a.75.75 0 0 1-1.5 0v-2.5a.75.75 0 0 1 1.5 0ZM9 9a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z'%3E%3C/path%3E%3C/svg%3E");
      }
    }

    &[data-admonition-type='caution'] {
      @apply bg-caution/7;

      p.admonition-title {
        @apply text-caution;
      }

      p.admonition-title:before {
        @apply bg-caution;
        mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' width='16' height='16' aria-hidden='true'%3E%3Cpath d='M6.457 1.047c.659-1.234 2.427-1.234 3.086 0l6.082 11.378A1.75 1.75 0 0 1 14.082 15H1.918a1.75 1.75 0 0 1-1.543-2.575Zm1.763.707a.25.25 0 0 0-.44 0L1.698 13.132a.25.25 0 0 0 .22.368h12.164a.25.25 0 0 0 .22-.368Zm.53 3.996v2.5a.75.75 0 0 1-1.5 0v-2.5a.75.75 0 0 1 1.5 0ZM9 11a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z'%3E%3C/path%3E%3C/svg%3E");
      }
    }

    &[data-admonition-type='warning'] {
      @apply bg-warning/7;

      p.admonition-title {
        @apply text-warning;
      }

      p.admonition-title:before {
        @apply bg-warning;
        mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' width='16' height='16' aria-hidden='true'%3E%3Cpath d='M4.47.22A.749.749 0 0 1 5 0h6c.199 0 .389.079.53.22l4.25 4.25c.141.14.22.331.22.53v6a.749.749 0 0 1-.22.53l-4.25 4.25A.749.749 0 0 1 11 16H5a.749.749 0 0 1-.53-.22L.22 11.53A.749.749 0 0 1 0 11V5c0-.199.079-.389.22-.53Zm.84 1.28L1.5 5.31v5.38l3.81 3.81h5.38l3.81-3.81V5.31L10.69 1.5ZM8 4a.75.75 0 0 1 .75.75v3.5a.75.75 0 0 1-1.5 0v-3.5A.75.75 0 0 1 8 4Zm0 8a1 1 0 1 1 0-2 1 1 0 0 1 0 2Z'%3E%3C/path%3E%3C/svg%3E");
      }
    }
  }

  .github-card {
    @apply bg-foreground/5 rounded-xl px-4 py-3;

    .gh-title {
      @apply relative flex items-center gap-2 text-base;

      .gh-avatar {
        @apply bg-foreground/20 h-6 w-6 flex-none rounded-full bg-none bg-cover bg-center;
      }
      .gh-text {
        @apply line-clamp-2;
        &:after {
          @apply absolute inset-0 content-[''];
        }
      }
      .gh-icon {
        @apply bg-foreground pointer-events-none ms-auto h-6 w-6 flex-none;
        mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='31' height='32' viewBox='0 0 496 512'><path fill='%23a1f7cb' d='M165.9 397.4c0 2-2.3 3.6-5.2 3.6c-3.3.3-5.6-1.3-5.6-3.6c0-2 2.3-3.6 5.2-3.6c3-.3 5.6 1.3 5.6 3.6m-31.1-4.5c-.7 2 1.3 4.3 4.3 4.9c2.6 1 5.6 0 6.2-2s-1.3-4.3-4.3-5.2c-2.6-.7-5.5.3-6.2 2.3m44.2-1.7c-2.9.7-4.9 2.6-4.6 4.9c.3 2 2.9 3.3 5.9 2.6c2.9-.7 4.9-2.6 4.6-4.6c-.3-1.9-3-3.2-5.9-2.9M244.8 8C106.1 8 0 113.3 0 252c0 110.9 69.8 205.8 169.5 239.2c12.8 2.3 17.3-5.6 17.3-12.1c0-6.2-.3-40.4-.3-61.4c0 0-70 15-84.7-29.8c0 0-11.4-29.1-27.8-36.6c0 0-22.9-15.7 1.6-15.4c0 0 24.9 2 38.6 25.8c21.9 38.6 58.6 27.5 72.9 20.9c2.3-16 8.8-27.1 16-33.7c-55.9-6.2-112.3-14.3-112.3-110.5c0-27.5 7.6-41.3 23.6-58.9c-2.6-6.5-11.1-33.3 2.6-67.9c20.9-6.5 69 27 69 27c20-5.6 41.5-8.5 62.8-8.5s42.8 2.9 62.8 8.5c0 0 48.1-33.6 69-27c13.7 34.7 5.2 61.4 2.6 67.9c16 17.7 25.8 31.5 25.8 58.9c0 96.5-58.9 104.2-114.8 110.5c9.2 7.9 17 22.9 17 46.4c0 33.7-.3 75.4-.3 83.6c0 6.5 4.6 14.4 17.3 12.1C428.2 457.8 496 362.9 496 252C496 113.3 383.5 8 244.8 8M97.2 352.9c-1.3 1-1 3.3.7 5.2c1.6 1.6 3.9 2.3 5.2 1c1.3-1 1-3.3-.7-5.2c-1.6-1.6-3.9-2.3-5.2-1m-10.8-8.1c-.7 1.3.3 2.9 2.3 3.9c1.6 1 3.6.7 4.3-.7c.7-1.3-.3-2.9-2.3-3.9c-2-.6-3.6-.3-4.3.7m32.4 35.6c-1.6 1.3-1 4.3 1.3 6.2c2.3 2.3 5.2 2.6 6.5 1c1.3-1.3.7-4.3-1.3-6.2c-2.2-2.3-5.2-2.6-6.5-1m-11.4-14.7c-1.6 1-1.6 3.6 0 5.9c1.6 2.3 4.3 3.3 5.6 2.3c1.6-1.3 1.6-3.9 0-6.2c-1.4-2.3-4-3.3-5.6-2'/%3E%3C/svg%3E")
          center center / 24px auto no-repeat;
      }
    }
    .gh-description {
      @apply mt-4 leading-tight;
    }
    .gh-chips {
      @apply mt-4 flex flex-wrap items-center gap-4;

      .gh-stars,
      .gh-forks,
      .gh-license,
      .gh-followers,
      .gh-repositories {
        @apply flex items-center gap-x-1;
        &:before {
          @apply bg-foreground block h-5 w-5 content-[''];
          mask: var(--chip-image) center center/16px auto no-repeat;
        }
      }
      .gh-stars {
        --chip-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' height='16' viewBox='0 0 16 16' version='1.1' width='16'><path d='M8 .25a.75.75 0 0 1 .673.418l1.882 3.815 4.21.612a.75.75 0 0 1 .416 1.279l-3.046 2.97.719 4.192a.751.751 0 0 1-1.088.791L8 12.347l-3.766 1.98a.75.75 0 0 1-1.088-.79l.72-4.194L.818 6.374a.75.75 0 0 1 .416-1.28l4.21-.611L7.327.668A.75.75 0 0 1 8 .25Zm0 2.445L6.615 5.5a.75.75 0 0 1-.564.41l-3.097.45 2.24 2.184a.75.75 0 0 1 .216.664l-.528 3.084 2.769-1.456a.75.75 0 0 1 .698 0l2.77 1.456-.53-3.084a.75.75 0 0 1 .216-.664l2.24-2.183-3.096-.45a.75.75 0 0 1-.564-.41L8 2.694Z'/></svg>");
      }
      .gh-forks {
        --chip-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' height='16' viewBox='0 0 16 16' version='1.1' width='16'><path d='M5 5.372v.878c0 .414.336.75.75.75h4.5a.75.75 0 0 0 .75-.75v-.878a2.25 2.25 0 1 1 1.5 0v.878a2.25 2.25 0 0 1-2.25 2.25h-1.5v2.128a2.251 2.251 0 1 1-1.5 0V8.5h-1.5A2.25 2.25 0 0 1 3.5 6.25v-.878a2.25 2.25 0 1 1 1.5 0ZM5 3.25a.75.75 0 1 0-1.5 0 .75.75 0 0 0 1.5 0Zm6.75.75a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Zm-3 8.75a.75.75 0 1 0-1.5 0 .75.75 0 0 0 1.5 0Z'/></svg>");
      }
      .gh-license {
        --chip-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' height='16' viewBox='0 0 16 16' version='1.1' width='16'><path d='M8.75.75V2h.985c.304 0 .603.08.867.231l1.29.736c.038.022.08.033.124.033h2.234a.75.75 0 0 1 0 1.5h-.427l2.111 4.692a.75.75 0 0 1-.154.838l-.53-.53.529.531-.001.002-.002.002-.006.006-.006.005-.01.01-.045.04c-.21.176-.441.327-.686.45C14.556 10.78 13.88 11 13 11a4.498 4.498 0 0 1-2.023-.454 3.544 3.544 0 0 1-.686-.45l-.045-.04-.016-.015-.006-.006-.004-.004v-.001a.75.75 0 0 1-.154-.838L12.178 4.5h-.162c-.305 0-.604-.079-.868-.231l-1.29-.736a.245.245 0 0 0-.124-.033H8.75V13h2.5a.75.75 0 0 1 0 1.5h-6.5a.75.75 0 0 1 0-1.5h2.5V3.5h-.984a.245.245 0 0 0-.124.033l-1.289.737c-.265.15-.564.23-.869.23h-.162l2.112 4.692a.75.75 0 0 1-.154.838l-.53-.53.529.531-.001.002-.002.002-.006.006-.016.015-.045.04c-.21.176-.441.327-.686.45C4.556 10.78 3.88 11 3 11a4.498 4.498 0 0 1-2.023-.454 3.544 3.544 0 0 1-.686-.45l-.045-.04-.016-.015-.006-.006-.004-.004v-.001a.75.75 0 0 1-.154-.838L2.178 4.5H1.75a.75.75 0 0 1 0-1.5h2.234a.249.249 0 0 0 .125-.033l1.288-.737c.265-.15.564-.23.869-.23h.984V.75a.75.75 0 0 1 1.5 0Zm2.945 8.477c.285.135.718.273 1.305.273s1.02-.138 1.305-.273L13 6.327Zm-10 0c.285.135.718.273 1.305.273s1.02-.138 1.305-.273L3 6.327Z'/></svg>");
      }
      .gh-followers {
        --chip-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' text='muted' height='16' viewBox='0 0 16 16' version='1.1' width='16'><path d='M2 5.5a3.5 3.5 0 1 1 5.898 2.549 5.508 5.508 0 0 1 3.034 4.084.75.75 0 1 1-1.482.235 4 4 0 0 0-7.9 0 .75.75 0 0 1-1.482-.236A5.507 5.507 0 0 1 3.102 8.05 3.493 3.493 0 0 1 2 5.5ZM11 4a3.001 3.001 0 0 1 2.22 5.018 5.01 5.01 0 0 1 2.56 3.012.749.749 0 0 1-.885.954.752.752 0 0 1-.549-.514 3.507 3.507 0 0 0-2.522-2.372.75.75 0 0 1-.574-.73v-.352a.75.75 0 0 1 .416-.672A1.5 1.5 0 0 0 11 5.5.75.75 0 0 1 11 4Zm-5.5-.5a2 2 0 1 0-.001 3.999A2 2 0 0 0 5.5 3.5Z'/></svg>");
      }
      .gh-repositories {
        --chip-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' height='16' viewBox='0 0 16 16' version='1.1' width='16'><path d='M2 2.5A2.5 2.5 0 0 1 4.5 0h8.75a.75.75 0 0 1 .75.75v12.5a.75.75 0 0 1-.75.75h-2.5a.75.75 0 0 1 0-1.5h1.75v-2h-8a1 1 0 0 0-.714 1.7.75.75 0 1 1-1.072 1.05A2.495 2.495 0 0 1 2 11.5Zm10.5-1h-8a1 1 0 0 0-1 1v6.708A2.486 2.486 0 0 1 4.5 9h8ZM5 12.25a.25.25 0 0 1 .25-.25h3.5a.25.25 0 0 1 .25.25v3.25a.25.25 0 0 1-.4.2l-1.45-1.087a.249.249 0 0 0-.3 0L5.4 15.7a.25.25 0 0 1-.4-.2Z'/></svg>");
      }
      .gh-language,
      .gh-region {
        @apply ms-auto;
      }
    }
  }

  table,
  th,
  td {
    @apply border-2 border-foreground/80 p-2.5;
  }

  th {
    @apply uppercase text-left;
  }

  fieldset {
    @apply inline-block border-2 border-accent/80 p-2.5 rounded-xl;
  }

  fieldset *:first-child {
    @apply mb-0;
  }

  fieldset input,
  fieldset select,
  fieldset textarea,
  fieldset label,
  fieldset button {
    @apply mt-3 w-full;
  }

  label {
    @apply inline-block;
  }

  label input {
    @apply mt-0;
  }

  input,
  textarea,
  select {
    @apply bg-transparent text-foreground border-1 border-foreground p-2.5 rounded-xl;
  }

  input[type='checkbox'] {
    @apply w-auto;
  }

  input[type='submit'] {
    @apply border-accent cursor-pointer;
  }
}
