---
import type { GetStaticPaths } from 'astro'
import Layout from '~/layouts/Layout.astro'
import { SeriesGroup } from '~/utils'
import PageHeader from '~/components/PageHeader.astro'
import PostPreview from '~/components/PostPreview.astro'

export const getStaticPaths = (async () => {
  const seriesGroup = await SeriesGroup.build()
  return seriesGroup.collations.map((series) => {
    return {
      params: { slug: series.key },
      props: { posts: series.entries, title: series.title },
    }
  })
}) satisfies GetStaticPaths

const { posts, title } = Astro.props
---

<Layout title={`Series: ${title}`} description={`All posts in the ${title} series`}>
  <div class="mt-2 sm:mt-0">
    <PageHeader />
    {posts.map((post) => <PostPreview post={post} />)}
  </div>
</Layout>
