---
interface Props {
  title?: string
}

const { title } = Astro.props

const splitPath: string[] = Astro.url.pathname.split('/').filter(Boolean) // Remove empty parts

if (splitPath.length === 0) {
  splitPath.push('home')
}

const titleFromUrl = splitPath.map((part) => `/ ${part}`)
---

<div
  class="border-0 border-accent/30 bg-accent/6 rounded-xl inline-block py-2.5 pl-3 pr-4 mt-5 md:mt-8"
>
  <h1 class="text-accent text-2xl font-semibold flex flex-wrap gap-y-2 gap-x-3.5">
    {title ? <span>// {title}</span> : titleFromUrl.map((part) => <span>{part}</span>)}
  </h1>
</div>
