---
import IconChevronsLeft from '~/icons/chevrons-left.svg'
import IconChevronsRight from '~/icons/chevrons-right.svg'

interface Props {
  prevLink?: string
  prevText?: string
  nextLink?: string
  nextText?: string
}

const { prevLink, prevText, nextLink, nextText } = Astro.props
---

<div class="my-5 flex flex-row flex-wrap gap-3 justify-center">
  {
    prevLink && (
      <a
        href={prevLink}
        aria-label="Previous Page"
        class="button flex-row items-center justify-center w-full !pr-3.5 sm:w-min"
      >
        <IconChevronsLeft class="mr-2 text-xl size-5" />
        {prevText || 'Previous'}
      </a>
    )
  }
  {
    nextLink && (
      <a
        href={nextLink}
        aria-label="Next Page"
        class:list={[
          'button flex-row items-center justify-center w-full !pl-3.5 sm:w-min',
          prevLink && 'ml-auto',
        ]}
      >
        {nextText || 'Next'}
        <IconChevronsRight class="ml-2 text-xl size-5" />
      </a>
    )
  }
</div>
