---
import type { MarkdownHeading } from 'astro'

interface Props {
  heading: MarkdownHeading
}

const {
  heading: { depth, slug, text },
} = Astro.props
---

<li class="flex items-stretch border-foreground/20">
  <div class="flex">
    {
      Array.from({ length: depth - 1 }, (_v, _k) => (
        <div class="toc-lines flex flex-col items-center">
          <span class="top-box w-4 xl:w-3 basis-4 border-b-1 border-foreground/20" />
          <span class="bottom-box w-4 xl:w-3 flex-1 border-t-1 border-foreground/20" />
        </div>
      ))
    }
  </div>
  <a
    class="inline-block line-clamp-2 ml-3 xl:ml-2 py-1 ps-1 hover:text-accent"
    href={`#${slug}`}>{text}</a
  >
</li>

<style>
  .toc-lines:first-child span {
    border-left-width: 2px;
  }
  li:last-child .toc-lines:first-child span.bottom-box {
    border-left-width: 0 !important;
  }
  li.active-heading a {
    color: var(--theme-accent);
    font-weight: 600;
  }
</style>
