---
import type { Collation } from '~/types'

interface Props {
  tags: Collation<'posts'>[]
}

const { tags } = Astro.props
---

<div class="flex flex-wrap gap-3 text-sm">
  {
    tags.map((tag) => (
      <a
        href={tag.url}
        class="py-1 px-3 bg-accent/1 hover:bg-accent/8 border-1 border-accent/20 text-accent/90 rounded-2xl transition-colors"
      >
        {tag.title}
      </a>
    ))
  }
</div>
