---
import type { CollectionEntry } from 'astro:content'
import { TagsGroup } from '~/utils'

interface Props {
  posts: CollectionEntry<'posts'>[]
}

const { posts } = Astro.props
const tagsGroup = await TagsGroup.build(posts)
---

<ul class="flex flex-wrap gap-x-3 gap-y-4 my-5">
  {
    tagsGroup.sortCollationsLargest().map((tag) => (
      <li>
        <a
          href={tag.url}
          class="flex items-start gap-2.5 py-2 pl-4 pr-3 bg-accent/7 rounded-3xl border-transparent hover:border-accent/20 border-1 text-foreground/90"
        >
          {tag.title}
          <span class="rounded-full bg-foreground/7 text-foreground/90 px-2 py-1 text-xs font-semibold">
            {tag.entries.length}
          </span>
        </a>
      </li>
    ))
  }
</ul>
